[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.0"
djangorestframework = "~=3.0"
django-cors-headers = "~=3.0"
mysqlclient = "*"

[dev-packages]
django-nose = "*"
pinocchio = "*"
coverage = "*"

[requires]
python_version = "3.8"
